<a href="https://colab.research.google.com/github/Bautistacpe/CPE009A/blob/main/Acitvity%231%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assigning variables of different data types in Python

In [2]:
value = 5
print(value)

5

In [19]:
type(value)

int

In [4]:
value = 5.0
print(value)

5.0

In [5]:
#a.
value = 2+3j
print(value)

(2+3j)

In [6]:
#b.
value = 'Hello World'
print(value)

Hello World

In [16]:
#c.
value = "Hello World"
print(value)

Hello World

In [8]:
#d.
value = True
print(value)

True

In [9]:
#e.
value = False
print(value)

False

In [11]:
#f.
value = [1,2,3,4,5]
print(value)

[1, 2, 3, 4, 5]

In [12]:
#g.
value = (1,2,3,4,5)
print(value)

(1, 2, 3, 4, 5)

In [14]:
#h.
value = {'name': 'Troy Jerron Bautista'}
print(value)

{'name': 'Troy Jerron Bautista'}

In [15]:
#i.
value = None
print(value)

None

In [20]:
value = 5
value2 = -6

Performing Operations with Python

In [21]:
(value+value2)

-1

In [23]:
#a.
value, value2 = 5.0, 6
(value+value2)

11.0

In [111]:
value, value2 = 5.0, 6
(value-value2)

-1.0

In [24]:
#b.
value, value2 = -5, 6.1
(value+value2)

1.0999999999999996

In [112]:
value, value2 = -5, 6.1
(value-value2)

-11.1

In [27]:
#c.
value, value2 = "Hello ", 'world'
(value+value2)

#Subtraction allowed because data type is 'string'

'Hello world'

In [29]:
#d.
value, value2 = [1,2,3], [4,5,6]
(value+value2)

#Subtraction allowed because variables are arrays

[1, 2, 3, 4, 5, 6]

In [30]:
#e.
value, value2 = (1,2,3), (4,5,6)
(value+value2)

#Subtraction allowed because variables are arrays

(1, 2, 3, 4, 5, 6)

In [110]:
#f.
value, value2 = {"name":"Royce"},{"age":"2"}
(value, value2)

#Subtraction allowed because data type is "dict'

({'name': 'Royce'}, {'age': '2'})

In [58]:
value, value2 = 30, 4.

In [60]:
#a.
print(value*value2)

120.0

In [61]:
#b.
print(value2**2)

16.0

In [62]:
#c.
print(value2**3)

64.0

In [64]:
#d.
print(value*value2+value2**2+1)

137.0

In [66]:
#e.
print(value/value2)

7.5

In [67]:
#f.
print(value%value2)

2.0

Receiving Input Data using Python

In [75]:
input("Message Name: ")

Message Name: This is a message

'This is a message'

In [77]:
name = input("Enter your name: ")

Enter your name: Troy Jerron Bautista

Assigning Input Data to a Variable

In [82]:
name = input("Enter your name: ")
weight = float(input("Enter your weight(kg): "))
height = float(input("Enter your height(m): "))
BMI = (weight/height**2)
print(BMI)

Enter your name: John Ray
Enter your weight(kg): 60
Enter your height(m): 1.6764
21.349904958763087

In [85]:
print("Value: "+str(12))

Value: 12

In [87]:
print("Value: ", 12)

Value:  12

Supplementary Activity

In [92]:
#1.
base, height, area = 0,0,0
base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))
area = (1/2*base*height)
print("The area of the triangle is: " + str(area))

Enter the base of the triangle: 2.1
Enter the height of the triangle: 6.7
The area of the triangle is: 7.035

In [95]:
#2.
Fahrenheit, Celsius = 0,0
Celsius = float(input("Enter the temperature in Celsius: "))
Fahrenheit = (Celsius*9/5)+32
print("The temperature in Celsius is: " + str(Fahrenheit))

Enter the temperature in Celsius: 22
The temperature in Celsius is: 71.6

In [101]:
#3.
Distance, x1, x2, y1, y2 = 0,0,0,0,0
x1 = (float(input("Enter the x1 coordinate: ")))
x2 = (float(input("Enter the x2 coordinate: ")))
y1 = (float(input("Enter the y1 coordinate: ")))
y2 = (float(input("Enter the y2 coordinate: ")))
Distance = ((x2-x1)**2 + (y2-y1)**2)**0.5
print("The distance between the two points is: " + str(Distance))

Enter the x1 coordinate: 2
Enter the x2 coordinate: 7
Enter the y1 coordinate: 6
Enter the y2 coordinate: 3
The distance between the two points is: 5.830951894845301