<a href="https://colab.research.google.com/github/Bautistacpe/CPE009A/blob/main/The_Loop_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [25]:
#Example 1
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
 print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break Statement

In [24]:
#Example 2
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
 print(x)
 if x == "Thursday":
  break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [8]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
 if x == "Thursday":
  break
 print(x)

Sunday
Monday
Tuesday
Wednesday

Looping Through a String

In [23]:
#Example 3
for x in "week":
 print(x)

w
e
e
k

The range() Function

In [15]:
for x in range(6):
 print(x)
print("")
for x in range(2,6):
 print(x)

0
1
2
3
4
5

2
3
4
5

In [17]:
for x in range(2,6,2):
 print(x)

2
4

Nested Loops

In [21]:
#Example 4
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
 for y in fruits:
  print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Statement

In [22]:
#Example 5
i = 1
while i < 6:
 print(i)
 i += 1
#i = i+1 Assignment operator

1
2
3
4
5

Break Statement in While Loop

In [28]:
i = 1
while i < 6:
 print(i)
 if i == 3:
  break
 i += 1

1
2
3

Continue Statement

In [30]:
i = 0
while i < 6:
 i += 1
 if i == 3:
  continue
 print(i)

1
2
4
5
6

In [31]:
i = 0
while i < 6:
 i += 1
 if i == 3:
  print(i)
 continue

3

Else Statement in While Loop

In [33]:
i = 1
while i < 6:
 print(i)
 i += 1
else:
 print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Let's try

In [39]:
i = 0
while i < 11:
 print("Hello", i)
 i += 1
#+5 on Midterms

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [52]:
i = 3
while i < 10:
  print(i)
  i += 1
#+5 on Midterms

3
4
5
6
7
8
9